version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: EscanerHerramientas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: django_app
    restart: always
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - ./media:/app/media 
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_NAME: EscanerHerramientas
      DB_USER: postgres
      DB_PASS: 123456
      DB_HOST: db
      DB_PORT: 5432

volumes:
  pgdata:
